.add-recipe-form {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 2%;
    padding: 20px;
    background-color: #dee9e2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-recipe-form label {
    font-size: 2rem;
    display: block;
    margin-bottom: 10px;
}

.add-recipe-difficulty{
    height: fit-content;
}

.add-recipe-image-input{
    margin-bottom: 2rem;
}

.add-recipe-form .input-field {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.add-recipe-form .add-button {
    padding: 8px 12px;
    margin-top: 4px;
    background-color: #dee9e2;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.add-recipe-form .add-button:hover {
    background-color: #d0e0d7;
}

.add-recipe-form .submit-button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #dee9e2;
    border: none;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.add-recipe-form .submit-button:hover {
    background-color: #d0e0d7;
}
