.favorites-title {
    margin-top: 2rem;
    font-size: 3.5rem;
    width: 70%;
    margin-left: 50%;
    transform: translate(-50%, 80%);
    border-bottom: 0;
}

@media only screen and (orientation: portrait) {
    .favorites-title {
        transform: translate(-50%, 40%);
    }
}
