.household-page, .household-page * {
    font-family: 'Roboto', sans-serif;
}

.household-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 100vh;
    padding-top: 50px;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-bottom: 2rem;
}

.header {
    color: rgb(58, 57, 57);
    border-bottom: 2px solid #030303;
    transition: border-bottom-color 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    font-size: 3.5rem;
    font-weight: 700; 
    letter-spacing: 0.1rem;
}

.section {
    position: relative;
    width: 80%;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 15px; 
    background-color: #FAFAFA; 
    box-shadow: 0px 3px 8px -1px rgba(50, 50, 71, 0.05), 0px 0px 1px 0px rgba(12, 26, 75, 0.24); 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.section h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #333; 
}

.list {
    list-style-type: none;
    padding-left: 0;
}

.list li {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
    color: #666; 
}

.go-to-list {
    font-size: 1.4rem;
    color: #007bff; 
    text-decoration: none;
    transition: color 0.3s;
    margin-top: 1rem;
    display: block; 
}

.go-to-list:hover {
    color: #0056b3; 
}

.household-id {
    display: flex;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    flex-direction: column;
    width: 80%;
}

.household-id p {
    display: inline-block;
}

.household-id .id-label {
    font-weight: bold;
}

.household-id div input{
    font-size: 1.7rem;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
}

.household-id div button{
    font-size: 1.7rem;
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    
    
}

.household-id div button:hover{
    cursor: pointer;
    background-color: #509e2f;
    color: white;
}
