.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 100%;
    height: 50vh;
    background-color: #dee9e2;
    padding: 3rem 0;
}

.login-form .input-field {
    width: 100%;
    height: 4rem;
    margin-bottom: 1.5rem;
    padding: 0.8rem; 
    border: 1px solid #dee9e2;
    border-radius: 16px;
    font-size: 2.4rem;
}

.login-form .submit-button {
    width: 100%; 
    max-width: 1000px; 
    height: 4rem;
    background-color: #509e2f;
    color: white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 2.4rem;
    margin-top: 1rem; 
}

.login-form .submit-button:hover {
    background-color: #509e2f;
}
