/* First section */

.recipe-section {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    margin-left: 50%;
    transform: translate(-50%);
    width: 70%;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.recipe-section > div:nth-child(2) {
    margin-left: auto;
}

.recipe-section > div {
    width: 47.5%;
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;

}

.recipe-section.first > div:first-child > * {
    margin-left: 3rem;
    margin-right: 3rem;
}

.recipe-name {
    margin-top: 3rem;
    font-size: 4.2rem;
    font-weight: 600;
    border-bottom: 2px solid darkgray;
}

.recipe-author {
    margin-top: .75rem;
    font-size: 2.125rem;
}

.recipe-info-header {
    margin-top: 3rem;
    font-size: 2.75rem;
    font-weight: 600;
}

.recipe-rating {
    margin-top: .5rem;
    display: flex;
    align-items: center;
}

.recipe-rating span {
    font-size: 3rem;
}

.recipe-star {
    color: gold;
}
.recipe-star.e {
    color: rgb(201, 201, 201);
}

.recipe-rating > p {
    margin-left: .75rem;
    margin-top: .25rem;
    font-size: 1.2rem;
}

.recipe-info {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: row;
}

.recipe-info > span, .recipe-info > p{
    margin-top: .5rem;
    font-weight: 600;
    font-size: 2.75rem;
}

.recipe-info > p{
    margin-left: 1rem;
}

.recipe-tags {
    margin-top: auto;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.recipe-image {
    max-width: 100%;
    height: auto;
}

/* Second section */

.recipe-section.second {
    margin-bottom: 10rem;
}

.recipe-section.second > div > * {
    margin-left: 3rem;
    margin-right: 3rem;
}

.recipe-header {
    margin-top: 3rem;
    font-size: 3.75rem;
    font-weight: 600;
    border-bottom: 2px solid darkgray;
    padding-right: 3rem;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.recipe-serving {
    margin-bottom: .25rem;
    margin-left: auto;
    color: #464646;
    font-size: 2.75rem;
    font-weight: 600;
}

.recipe-section.second ul {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    list-style-type: none;
}

.recipe-section.second li:not(:first-of-type) {
    margin-top: 1.5rem;
}

.recipe-section.second li {
    margin-left: -5%;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
}

li.recipe-ingredient > p:first-child {
    font-weight: 600;
    min-width: 25%;
}

li.recipe-instruction > p:first-child {
    font-weight: 600;
    min-width: 5%;
}


