.user {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.user img {
    max-width: 100px;
    margin-right: 20px;
}

.user-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-actions button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 3px;
}

.user-actions button:hover {
    background-color: #45a049;
}

.user-actions .remove-button {
    background-color: #f44336 !important;
}

.user-actions .remove-button:hover {
    background-color: #d32f2f !important;
}
